html, body, #app {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
}

#app > main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}